include ../../patterns/mixin

-var swap1 =  [{type:'news',source:'Research',actor:'Tom Le', title:'Free printer ribbons for an old printer', time:'2 weeks ago'},{type:'news',source:'Facilities',actor:'Peter Murphy', title:'Old Science journals', time:'2 weeks ago'},{type:'news',source:'Care',actor:'Helena Troy', title:'Panasonic MRI machine', time:'2 weeks ago'},{type:'news',source:'Research',actor:'Helena Troy', title:'Rotoscope', time:'2 weeks ago'}]
-var swap2 =  [{type:'news',source:'Care',actor:'Tom Le', title:'Free printers', time:'2 weeks ago'},{type:'news',source:'Facilities',actor:'Peter Murphy', title:'Awesome chrome desks', time:'2 weeks ago'},{type:'news',source:'Care',actor:'Helena Troy', title:'Full suite of Adobe', time:'2 weeks ago'},{type:'news',source:'Research',actor:'Helena Troy', title:'Spectrometer', time:'2 weeks ago'}]

include modal_shopswap

mixin content(list)
	-for item, key in list
		.feedItem.accordion-group
			.row-fluid.accordion-heading(id='key' + key)
				.span2
					img(src='http://placehold.it/100x100&text=Item+Picture')
				.span10
					.time.pull-right #{item.time}
					h4: a(href='news')= item.title
					p.post-meta
						| Contact 
						a(href='publicProfile')= item.actor
						|  from <a href="#{item.source}">#{item.source}</a>
					a.btn.expandToggle(href='news', data-toggle="collapse", data-parent="#" + key, href="#" + key) Expand
					p.ipsum(length='130')
			.row-fluid.accordion-body.collapse(id=key)
				.span2
				.span10
					p.ipsum(length='900')
				.row-fluid.post-meta
					.span6

.row
	.span8
		mixin subscribe()
		h2 Shop 'n Swap
		p Shop n' Swap is available to all Research Institute employees who would like to dispose of lab or office items, such as equipment or supplies. Items can be sold, traded or given away. There is also a forum for posting personal items.
		.row-fluid
				mixin content(swap1)
	.span2
		.dropdown
			a.btn(data-toggle='modal', href='#shopModal') Post an item
		hr
		h4 Filters
		ul.unstyled.rightNav
			li
				a All Posts (274)
			li
				a My Posts (10)

			hr
			li.header: h6 Categories
			li
				a Research Tools (70)

			li
				a Office Supplies (9)

			li
				a Personal (300)


		hr
		.pull-right
			a Reset filters