mixin miniFeed(feed)
	.row-fluid
		.span12
			-if (!feed.personal)
				mixin subscribe()
			h3= feed.title
		-if (feed.personal)
			.row-fluid
				.span12
						form.form-horizontal
							textarea.input-xlarge#feedUpdate(rows='1')
							.pull-left.btnPadding.feedbtn
								label Privacy:
									select(style='width: 70%')
										option(value='default') Everyone
										option My Team
										option My followers
										option Private
							a.feedbtn.btn.btn-primary.pull-right#postWall Post
		- each item in feed.updates
			case item.type
				when 'profile'
					.feedItem
						mixin shareModal(item.type)
						.row-fluid
							.span2
								img(src='http://placehold.it/100x100&text=Profile')
							.span10
								.time.pull-right #{item.time}
								h4: a(href='publicProfile')= item.actor
								p= item.title
								.row-fluid.onHover
									.span2
										a(data-toggle='modal', href='#' + item.type + 'shareModal')
											i.icon-share
											|  Share
									.span2
										i.icon-remove
										|  Report
				when 'group'
					.feedItem
						mixin shareModal(item.type)
						.row-fluid
							.span2
								img(src='http://placehold.it/100x100&text=+Group++')
							.span10
								.time.pull-right #{item.time}
								h4: a(href='groupDetail')= item.title
								p= item.desc
								.row-fluid.onHover
									.span2
										a(data-toggle='modal', href='#' + item.type + 'shareModal')
											i.icon-share
											|  Share
									.span2
										i.icon-remove
										|  Report
				when 'event'
					.feedItem
						mixin shareModal(item.type)
						.row-fluid
							.span2
								img(src='http://placehold.it/100x100&text=++Event++')
							.span10
								.time.pull-right #{item.time}
								h4: a(href='calendar')= item.title
								p.post-meta
									a(href='publicProfile')= item.actor
									|  created: 
								p Please join us for this Seminar about how this and that works.
								.row-fluid.onHover
									.span2
										i.icon-plus-sign(alt='Register')
										|  Go
									.span2
										a(data-toggle='modal', href='#' + item.type + 'shareModal')
											i.icon-share(alt='Share')
											|  Share
									.span2
										i.icon-remove(alt='Report')
										|  Report
				when 'news'
					.feedItem
						mixin shareModal(item.type)
						.row-fluid
							.span2
								img(src='http://placehold.it/100x100&text=++News++')
							.span10
								.time.pull-right #{item.time}
								h4: a(href='news')= item.title
								p.post-meta: a(href='publicProfile')= item.actor
								p.ipsum(length='130')
								.row-fluid.onHover
									.span2
										i.icon-share-alt
										|  Open
									.span2
										a(data-toggle='modal', href='#' + item.type + 'shareModal')
											i.icon-share
											|  Share
									.span2
										i.icon-remove
										|  Report
				when 'doc'
					.feedItem
						mixin shareModal(item.type)
						.row-fluid
							.span2
								img(src='http://placehold.it/100x100&text=Document')
							.span10
								.time.pull-right #{item.time}
								h4: a(href='{item.link}')= item.title
								p.post-meta
									a(href='publicProfile') Bob Watts
									|  updated: 
								p "Pour-over ad typewriter 8-bit, jean shorts cardigan godard. Swag wolf occaecat, polaroid gluten-free sint nostrud before they quit"
								.row-fluid.onHover
									.span2
										i.icon-plus-sign(alt='Bookmark')
										|  Save
									.span2
										i.icon-pencil(alt='Edit')
										|  Edit
									.span2
										a(data-toggle='modal', href='#' + item.type + 'shareModal')
											i.icon-share(alt='Share')
											|  Share
									.span2
										i.icon-remove(alt='report')
										|  Report
		.pull-right
			a(href='subscription') View all activity »

mixin shareModal(type)
	div.modal(id=type + 'shareModal')
		.modal-header
			btn.closeModal.pull-right(data-dismiss='modal') x
			h3 Share with
				select(style='width: 70%, font-weight: 600')
					option(value='default') Everyone
					option My Team
					option My followers
					option Private
		.modal-body
			form.form-horizontal
				textarea.input-xlarge#feedUpdate(rows='1')
			.row-fluid
				case type
					when 'doc'
						.feedItem
							.row-fluid
								.span2
									img(src='http://placehold.it/100x100&text=#{type}')
								.span10
									h4: a(href='{item.link}') Title of this post
									p.post-meta
										a(href='publicProfile') Bob Watts
										|  updated: 
									p "Pour-over ad typewriter 8-bit, jean shorts cardigan godard. Swag wolf occaecat, polaroid gluten-free sint nostrud before they quit"
					when 'news'
						.feedItem
							.row-fluid
								.span2
									img(src='http://placehold.it/100x100&text=#{type}')
								.span10
									h4: a(href='news') Title of the news
									p.post-meta: a(href='publicProfile') Bob Watts
									p.ipsum(length='130')
					when 'event'
						.feedItem
							.row-fluid
								.span2
									img(src='http://placehold.it/100x100&text=#{type}')
								.span10
									h4: a(href='calendar') Title of Event
									p.ipsum(length='100')
					when 'profile'
						.feedItem
							.row-fluid
								.span2
									img(src='http://placehold.it/100x100&text=#{type}')
								.span10
									h4: a(href='publicProfile') Bob Watts
									p.ipsum(length='100')

		.modal-footer
			a.btn.close Close
			a.btn.btn-primary.saveModal(href='Success') Share