mixin miniFeed(feed)
	.row-fluid
		.span12
			-if (!feed.personal)
				mixin subscribe()
			h3= feed.title
		-if (feed.personal)
			.row-fluid
				.span12
						form.form-horizontal
							textarea.input-xlarge#feedUpdate(rows='1')
							.pull-left.btnPadding.feedbtn
								label Privacy:
									select(style='width: 70%')
										option(value='default') Everyone
										option My Team
										option My followers
										option Private
							a.feedbtn.btn.btn-primary.pull-right#postWall Post
		- each item in feed.updates
			case item.type
				when 'profile'
					.feedItem
						.row-fluid
							.span2
								img(src='http://placehold.it/100x100&text=#{item.type}')
							.span10
								.time.pull-right #{item.time}
								h4: a(href='publicProfile')= item.actor
								p= item.title
								.row-fluid.onHover
									.span2
										i.icon-share
										|  Share
									.span2
										i.icon-remove
										|  Report
				when 'group'
					.feedItem
						.row-fluid
							.span2
								img(src='http://placehold.it/100x100&text=#{item.type}')
							.span10
								.time.pull-right #{item.time}
								h4: a(href='groupDetail')= item.title
								p= item.desc
								.row-fluid.onHover
									.span2
										i.icon-share
										|  Share
									.span2
										i.icon-remove
										|  Report
				when 'event'
					.feedItem
						.row-fluid
							.span2
								img(src='http://placehold.it/100x100&text=#{item.type}')
							.span10
								.time.pull-right #{item.time}
								h4: a(href='calendar')= item.title
								p= item.desc
								.row-fluid.onHover
									.span2
										i.icon-plus-sign(alt='Register')
										|  Go
									.span2
										i.icon-share(alt='Share')
										|  Share
									.span2
										i.icon-remove(alt='Report')
										|  Report
				when 'news'
					.feedItem
						.row-fluid
							.span2
								img(src='http://placehold.it/100x100&text=#{item.type}')
							.span10
								.time.pull-right #{item.time}
								h4: a(href='news')= item.title
								h6: a(href='publicProfile')= item.actor
								p.ipsum(length='130')
								.row-fluid.onHover
									.span2
										i.icon-share-alt
										|  Open
									.span2
										i.icon-share
										|  Share
									.span2
										i.icon-remove
										|  Report
				when 'doc'
					.feedItem
						.row-fluid
							.span2
								img(src='http://placehold.it/100x100&text=#{item.type}')
							.span10
								.time.pull-right #{item.time}
								h4: a(href='{item.link}')= item.title
								h6
									a(href='publicProfile') Bob Watts
									|  Updated: 
								p "Pour-over ad typewriter 8-bit, jean shorts cardigan godard. Swag wolf occaecat, polaroid gluten-free sint nostrud before they quit"
								.row-fluid.onHover
									.span2
										i.icon-plus-sign(alt='Bookmark')
										|  Save
									.span2
										i.icon-pencil(alt='Edit')
										|  Edit
									.span2
										i.icon-share(alt='Share')
										|  Share
									.span2
										i.icon-remove(alt='report')
										|  Report
		.pull-right
			a(href='subscription') View past activity »
