-var todoItems = [{todo:'This is an non-dated todo item'}, {todo: 'This is a todo item due today', date: 'in 2 hours'}, {todo: 'This is a todo item due tomorrow', date: 'tomorrow'}, {todo: 'A far away todo', date: 'June 30 at 3pm'}]

include feed.jade

mixin notification(notif)
	.notification
		a.closeNotification.pull-right: i.icon-remove
		h3= notif.title
		p= notif.desc

mixin subnav(section)
	case section
		when 'research'
			li: a(href='research')  About Research
			li: a(href='financial') News
			li: a(href='financial') Facilities and Services
			li: a(href='financial') Financial Services
			li: a(href='financial') Research Integrity Office
			li: a(href='financial') Research IT
			li: a(href='financial') Training Centre
			li: a(href='financial') Shop 'n' Saw
			li: a(href='groups') Groups
		when 'support'
			li: a(href='support') Overview
			li: a(href='support') Human Resources
			li: a(href='support') Communications & Public Affairs
			li: a(href='support') Health & Safety
			li: a(href='support') Financial Services
			li: a(href='support') Information Services
			li: a(href='support') Policies Procedures & Guidelines
			li: a(href='support') Quality and Risk Management
		when 'care'
			li: a(href='care') Overview
			li: a(href='care') About Care
			li: a(href='care') Ambulatory
			li: a(href='care') Child & Family Relations
			li: a(href='care') Clinical Goods & Services Price List
			li: a(href='care') Clinical Systems
			li: a(href='care') Equipment & Facilities
			li: a(href='care') Lab Services
			li: a(href='care') Medical Affairs
			li: a(href='care') Pharmacy
			li: a(href='care') Transitional Care
			li: a(href='care') Forms and Tools
			li: a(href='groups') Groups
			
		when 'learning'
			li: a(href='learning') Overview
			li: a(href='learning') About Learning
			li: a(href='learning') eLearning
			li: a(href='learning') iLearn
			li: a(href='learning') Events and Modules
			li: a(href='learning') Simulation
			li: a(href='learning') Interprofessional Certification & Education Program
			li: a(href='learning') Career & Professional Development Fund
			li: a(href='learning') Learning Resources			
			li: a(href='groups') Groups

mixin radio(poll)
	form.form-horizontal
		h4= poll.question
		fieldset
		-each item in poll.items
			label.radio 
				input.radio(type='radio') 
				| #{item}

mixin newsBtn()
	mixin notification({title:'Subscribed successfully',desc:'You\'ve successfully subscribed to the feed.'})
	#newsBtn.pull-right
		btn.btn.btn-mini.subscribeButton(href='#') Subscribe
		btn.btn.btn-mini(href='#') Submit a Story

mixin subscribe()
	mixin notification({title:'Subscribed successfully',desc:'You\'ve successfully subscribed to the feed.'})
	#newsBtn.pull-right
		btn.btn.btn-mini.subscribeButton(href='#') Subscribe

mixin checkbox(form)
	form.form-horizontal	
		fieldset
		-each field in form.fields
			.row-fluid
				.span3
					input(type='checkbox', style='margin-right: 5px')
				.span9
					label.form= field.label

mixin form(form)
	form.form-horizontal	
		fieldset
		-each field in form.fields
			-if(field.type == 'radio')
				mixin radio(field.poll)
			-else if (field.type =='text')
				.row-fluid.formField
					.span3
						label.pull-right.form= field.label					
					.span9
						input.pull-left.text(type='text')
			-else if (field.type =='checkbox')
				.row-fluid.formField
					.span3
						label.pull-right.form= field.label
					.span9
						input(type='checkbox', style='margin-right: 5px')
			-else if (field.type =='person')
				.row-fluid.formField
					.span3
						label.pull-right.form= field.label					
					.span9
						input.pull-left.text(type='text', placeholder='Default is you')
						btn.btn: i.icon-user
			-else if (field.type =='date')
				.row-fluid.formField
					.span3
						label.pull-right.form= field.label					
					.span9
						input.pull-left.text(type='text', placeholder='yyyy/mm/dd hh:mm')
						btn.btn: i.icon-calendar
			-else if (field.type=='dropdown')
				.row-fluid.formField
					.span3
						label.pull-right.form= field.label					
					.span9
						select.select
							-each option in field.options
								option= option

mixin forum(posts)
	-each item in posts
		.row-fluid
			.span1: i.icon-user
			.span9: #{item}
			.span2: btn.btn.btn-mini More
	btn.btn.btn-primary(type='button') See all

mixin forumPost(post)
	.row-fluid.forum-post
		.span1: img(src='http://placehold.it/100x100')
		.span9
			.row-fluid
				.span12: h4 #{post}
			.row-fluid
				.span6: h6 6 posts, 3 participants
				.span6: h6 Last updated 12 minutes ago
		.span2.btn-group
				btn.btn.btn-mini(type='button') Open
				btn.btn.btn-mini(type='button'): &#9660;

mixin document(post)
	.row-fluid.document
		.span1: i.icon-download
		.span9
			.row-fluid
				.span12: h4 #{post}
			.row-fluid
				.span6 Six collaborators
				.span6 Last updated 12 minutes ago
		.span2.btn-group.dropdown
				btn.btn.btn-mini(type='button'): i.icon-pencil
				btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#'): &#9660;
				ul.dropdown-menu
					li: a Make a copy
					li: a Move to group
					li: a Rename
					li: a Share
					li: a Delete

mixin dailyAgenda(todo)
	.row-fluid
		.span12
			h3: a(href='calendar') My Agenda
	.row-fluid
		.span12
			h4 Today's Appointments
	-each agenda,key in todo
		.row-fluid
			.span2 #{key*2}:00
			.span10(style='overflow: hidden')
				span.label.label-info
					a(href='calendar', style='color: white')= agenda
	include modal_todo.jade
	hr
	.todo
		.row-fluid
			.span12
				btn.btn.btn-mini.pull-right(data-toggle='modal', href='#todoModal') +
				h4 To Do List
		-each item in todoItems
			.row-fluid.todo-item
				.span1: input(type='checkbox')
				-if(item.date)
					.span8
						= item.todo
					.span3
						.pull-right.label.label-warning #{item.date}
				-else
					.span8= item.todo
	p
		a.pull-right(href='calendar') View my calendar »
		
mixin tools(posts)
	-each item in posts
		.row-fluid
			.span1: i.icon-download
			.span7: #{item}
			.span4
				.btn-group
					btn.btn.btn-mini open
					btn.btn.btn-mini edit
	btn.btn.btn-primary(type='button') See all

mixin docs(posts)
	-each item in posts
		.row-fluid
			.span1: i.icon-download
			.span7: #{item}
			.span4
				.btn-group
					btn.btn.btn-mini open
					btn.btn.btn-mini edit
	btn.btn.btn-primary(type='button') See all

mixin people(posts)
	-each item in posts
		.row-fluid
			.span1: i.icon-download
			.span7: #{item}
			.span4
				.btn-group
					btn.btn.btn-mini open
					btn.btn.btn-mini edit
	btn.btn.btn-primary(type='button') See all


mixin share()
	btn.btn.btn-mini.btn-save Save

mixin calendar()
	.row-fluid
		.span3
			i.icon-circle-arrow-left.pull-right
		.span6(style='text-align: center')
			h4 April
		.span3
			i.icon-circle-arrow-right.pull-left
	.row-fluid
		.span12
			table.table.table-bordered
				thead
					tr
						th S
						th M
						th T
						th W
						th T
						th F
						th S
				tbody
					tr
						td 
						td 1
						td 2
						td 3
						td 4
						td 5
						td 6
					tr
						td 7
						td 8
						td 9
						td.well 10
						td 11
						td 12
						td 13
					tr
						td 14
						td 15
						td 16
						td.well 17
						td.well 18
						td 19
						td 20
					tr
						td 21
						td 22
						td 23
						td 24
						td 25
						td 26
						td 27
					tr
						td 28
						td 29
						td.well 30
						td.well 31
						td 
						td 
						td 


mixin comment()
	.comment
		btn.btn.btn-mini(type='Comment') Comment
		.row-fluid.commentHide
			.span6
				.fieldset
					label Leave a comment!
					textarea.input-xlarge(rows='3')
				hr
				btn.btn.btn-primary.pull-left(type='submit') Post

mixin todo(items, show)
	include modal_todo.jade
	.todo
		.row-fluid
			.span9
				h3 To Do List
			.span3
				btn.btn.btn-mini.pull-right(data-toggle='modal', href='#todoModal') +
		-each item in todoItems
			.row-fluid.todo
				.span1: input(type='checkbox')
				-if(item.date)
					.span6= item.todo
					.span3: span.label.label-warning Due #{item.date}
				-else
					.span11= item.todo
	-if(show)
		a.pull-right(href='calendar') View calendar »


mixin addPerson()
	.addPerson
		btn.btn.btn-mini(type='addUser'): i.icon-user Subscribe

mixin addGroup()
	.addPerson
		btn.btn.btn-mini(type='addGroup'): i.icon-globe Subscribe

mixin addTool()
	.addTool
		btn.btn.btn-mini(type='addGroup'): i.icon-plus

mixin linkList(list)
	.link-list
		-if (list.edit)
			a.btn.btn-mini.pull-right.editLink Edit
		h4= list.title
		ul
			-each item in list.items
				-if (item.nodelete)
					li.noDelete
						a(href=item.address)= item.title
				-else
					li.deleteable.clearfix
						.icon-remove-sign
						a(href=item.address)= item.title
						-if (list.showOpts == true)
							a.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#'): &#9660;
							ul.dropdown-menu
								li: a View
								li: a Unsubscribe

mixin toTop()
	hr
	a.pull-right(href='#') Return to top 
		i.icon-circle-arrow-up

mixin pageTitle(title, toggle)
	.row
		.span8
			-if (toggle != false)
				.pull-right
					mixin share()
			h2= title

mixin twitter()
	-var twitter = ['SickKids_Hospital','SickKidsHealth','ResearchTower','SickKidsHealth']
	h3 SickKids Twitter Feed
	-each account in twitter
		.row-fluid
			img.pull-left(src='http://placehold.it/60x60', style='padding: 3px')
			p(style='float:right; clear:left')
				h4: a(href='http://twitter.com/' + account) @#{account}
				p.ipsum(length='60')
	p New to Twitter? <a href='http://twitter.com'>Join the conversation here!</a>

mixin breadcrumb(items)
	ul.breadcrumb
		-each item, key in items
			-if (key == items.length-1)
				li= item.title
			-else
				li
					a(href='' + item.page)= item.title
					span.divider /		