-var todoItems = [{todo:'This is an non-dated todo item'}, {todo: 'This is a todo item due today', date: 'in 2 hours'}, {todo: 'This is a todo item due tomorrow', date: 'tomorrow'}, {todo: 'A far away todo', date: 'June 30 at 3pm'}]

include feed.jade

mixin subnav(section)
	case section
		when 'research'
			li: a(href='research') Overview
			li: a(href='financial') News
			li: a(href='financial') Facilities and Support
			li: a(href='financial') Policies, Procedures, and Guidelines
			li: a(href='financial') Research IT
			li: a(href='financial') Training Centre
			li: a(href='financial') Resources and Links
		when 'support'
			li: a(href='support') Overview
			li: a(href='support') Human Resources
			li: a(href='support') Policies, Procedures and Guidelines
			li: a(href='support') Guides
			li: a(href='support') Health & Safety
			li: a(href='support') Information Services
			li: a(href='support') Communications & Public Affairs
			li: a(href='support') Financial Services
			li: a(href='support') Other Services
		when 'care'
			li: a(href='care') Overview
			li: a(href='care') News
			li: a(href='care') Clinical Resources
			li: a(href='care') Forms & Tools
			li: a(href='care') Training & Education
		when 'learning'
			li: a(href='learning') Overview
			li: a(href='learning') News
			li: a(href='learning') Simulation Training
			li: a(href='learning') Modules
			li: a(href='learning') Events & Seminars
			li: a(href='learning') Interprofessional Education
			li: a(href='learning') Career & Professional Development

mixin radio(poll)
	form.form-horizontal
		h4= poll.question
		fieldset
		-each item in poll.items
			label.radio 
				input.radio(type='radio') 
				| #{item}

mixin newsBtn()
	#newsBtn.pull-right
		btn.btn.btn-mini(href='#') Submit a Story
		|  
		btn.btn.btn-mini.subscribeButton(href='#') Subscribe

mixin subscribe()
	#newsBtn.pull-right
		btn.btn.btn-mini.subscribeButton(href='#') Subscribe

mixin checkbox(form)
	form.form-horizontal	
		fieldset
		-each field in form.fields
			.row-fluid
				.span3
					input(type='checkbox', style='margin-right: 5px')
				.span9
					label.form= field.label

mixin form(form)
	form.form-horizontal	
		fieldset
		-each field in form.fields
			-if(field.type == 'radio')
				mixin radio(field.poll)
			-else if (field.type =='text')
				.row-fluid.formField
					.span3
						label.pull-right.form= field.label					
					.span9
						input.pull-left.text(type='text')
			-else if (field.type =='checkbox')
				.row-fluid.formField
					.span3
						label.pull-right.form= field.label
					.span9
						input(type='checkbox', style='margin-right: 5px')
			-else if (field.type =='person')
				.row-fluid.formField
					.span3
						label.pull-right.form= field.label					
					.span9
						input.pull-left.text(type='text', placeholder='Default is you')
						btn.btn: i.icon-user
			-else if (field.type =='date')
				.row-fluid.formField
					.span3
						label.pull-right.form= field.label					
					.span9
						input.pull-left.text(type='text', placeholder='yyyy/mm/dd hh:mm')
						btn.btn: i.icon-calendar
			-else if (field.type=='dropdown')
				.row-fluid.formField
					.span3
						label.pull-right.form= field.label					
					.span9
						select.select
							-each option in field.options
								option= option

mixin forum(posts)
	-each item in posts
		.row-fluid
			.span1: i.icon-user
			.span9: #{item}
			.span2: btn.btn.btn-mini More
	btn.btn.btn-primary(type='button') See all

mixin forumPost(post)
	.row-fluid.forum-post
		.span1: img(src='http://placehold.it/100x100')
		.span9
			.row-fluid
				.span12: h4 #{post}
			.row-fluid
				.span6: h6 6 posts, 3 participants
				.span6: h6 Last updated 12 minutes ago
		.span2.btn-group
				btn.btn.btn-mini(type='button') Open
				btn.btn.btn-mini(type='button'): &#9660;

mixin document(post)
	.row-fluid.document
		.span1: i.icon-download
		.span9
			.row-fluid
				.span12: h4 #{post}
			.row-fluid
				.span6 Six collaborators
				.span6 Last updated 12 minutes ago
		.span2.btn-group.dropdown
				btn.btn.btn-mini(type='button'): i.icon-pencil
				btn.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#'): &#9660;
				ul.dropdown-menu
					li: a Make a copy
					li: a Move to group
					li: a Rename
					li: a Share
					li: a Delete

mixin dailyAgenda(todo)
	.row-fluid
		.span12
			h3: a(href='calendar') My Agenda
	.row-fluid
		.span12
			h4 Today's Appointments
	-each agenda,key in todo
		.row-fluid
			.span3 #{key*2}:00pm
			.span9(style='overflow: hidden')
				span.label.label-info
					a(href='calendar', style='color: white')= agenda
	include modal_todo.jade
	hr
	.todo
		.row-fluid
			.span9
				h4 To Do List
			.span3
				btn.btn.btn-mini.pull-right(data-toggle='modal', href='#todoModal') +
		-each item in todoItems
			.row-fluid.todo
				.span1: input(type='checkbox')
				-if(item.date)
					.span6= item.todo
					.span3: span.label.label-warning Due #{item.date}
				-else
					.span11= item.todo
	a.pull-right(href='calendar') View my calendar »
		
mixin tools(posts)
	-each item in posts
		.row-fluid
			.span1: i.icon-download
			.span7: #{item}
			.span4
				.btn-group
					btn.btn.btn-mini open
					btn.btn.btn-mini edit
	btn.btn.btn-primary(type='button') See all

mixin docs(posts)
	-each item in posts
		.row-fluid
			.span1: i.icon-download
			.span7: #{item}
			.span4
				.btn-group
					btn.btn.btn-mini open
					btn.btn.btn-mini edit
	btn.btn.btn-primary(type='button') See all

mixin people(posts)
	-each item in posts
		.row-fluid
			.span1: i.icon-download
			.span7: #{item}
			.span4
				.btn-group
					btn.btn.btn-mini open
					btn.btn.btn-mini edit
	btn.btn.btn-primary(type='button') See all


mixin share()
		btn.btn.btn-mini Share
		btn.btn.btn-mini Report

mixin calendar()
	.row-fluid
		.span3
			i.icon-circle-arrow-left.pull-right
		.span6(style='text-align: center')
			h4 April
		.span3
			i.icon-circle-arrow-right.pull-left
	.row-fluid
		.span12
			table.table.table-bordered
				thead
					tr
						th S
						th M
						th T
						th W
						th T
						th F
						th S
				tbody
					tr
						td 
						td 1
						td 2
						td 3
						td 4
						td 5
						td 6
					tr
						td 7
						td 8
						td 9
						td.well 10
						td 11
						td 12
						td 13
					tr
						td 14
						td 15
						td 16
						td.well 17
						td.well 18
						td 19
						td 20
					tr
						td 21
						td 22
						td 23
						td 24
						td 25
						td 26
						td 27
					tr
						td 28
						td 29
						td.well 30
						td.well 31
						td 
						td 
						td 


mixin comment()
	.comment
		btn.btn.btn-mini(type='Comment') Comment
		.row-fluid.commentHide
			.span6
				.fieldset
					label Leave a comment!
					textarea.input-xlarge(rows='3')
				hr
				btn.btn.btn-primary.pull-left(type='submit') Post

mixin todo(items, show)
	include modal_todo.jade
	.todo
		.row-fluid
			.span9
				h3 To Do List
			.span3
				btn.btn.btn-mini.pull-right(data-toggle='modal', href='#todoModal') +
		-each item in todoItems
			.row-fluid.todo
				.span1: input(type='checkbox')
				-if(item.date)
					.span6= item.todo
					.span3: span.label.label-warning Due #{item.date}
				-else
					.span11= item.todo
	-if(show)
		a.pull-right(href='calendar') View calendar »


mixin addPerson()
	.addPerson
		btn.btn.btn-mini(type='addUser'): i.icon-user Subscribe

mixin addGroup()
	.addPerson
		btn.btn.btn-mini(type='addGroup'): i.icon-globe Subscribe

mixin addTool()
	.addTool
		btn.btn.btn-mini(type='addGroup'): i.icon-plus

mixin linkList(list)
	.link-list
		h4= list.title
		ul
			-each item in list.items
				li 
					a(href=item.address)= item.title
					-if (list.showOpts == true)
						a.btn.btn-mini.dd-toggle(data-toggle='dropdown', data-target='#'): &#9660;
						ul.dropdown-menu
							li: a View
							li: a Unsubscribe

mixin toTop()
	hr
	a.pull-right(href='#') Return to top 
		i.icon-circle-arrow-up

mixin pageTitle(title, toggle)
	.row
		.span6
			h2= title
		-if (toggle != false)
			.span2
				mixin share()

mixin twitter()
	h3 SickKids Twitter Feed
	img(src="http://placehold.it/300x200")

mixin breadcrumb(items)
	ul.breadcrumb
		-each item, key in items
			-if (key == items.length-1)
				li= item.title
			-else
				li
					a(href='' + item.page)= item.title
					span.divider /		